* {
  transition-duration: 0.5s;
}

.App {
  height: 100%;
  width: 100%;
}

.section-1 {
  position: absolute;
  bottom: 20%;
  width: 100%;
  z-index: 1;

  h1 {
    font-size: 150px;
    margin-bottom: 10px;
  }
  p {
    text-align: center;
    font-size: 40px;
  }
  .showText {
    transform: translate(0px, 0px);
  }

  .hiddentext {
    transform: translate(0px, 100px);
  }
}

.section-2 {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5%;

  .title {
    h1 {
      width: fit-content;
      padding: 20px 30px;
      border-radius: 30px;
      background: linear-gradient(45deg, #3b49a8, #8a5252);
      color: white;
      text-align: left;
      font-size: 90px;
    }
    p {
      font-size: 90px;
      color: rgb(138, 138, 138);
      font-weight: 900;
      text-align: left;
    }
  }
  ul {
    li {
      margin-bottom: 4%;
      text-decoration: none;
      list-style: none;
      position: relative;
      font-size: 40px;
    }
  }
  .showText {
    transform: translate(0, 0);
  }

  .hiddentext {
    transform: translate(-150px, 0);
  }
}

.section-3 {
  width: 100%;
  top: 20%;
  position: absolute;
  z-index: 1;

  h1 {
    font-size: 150px;
  }
  .showText {
    transform: translate(0px, 0px);
  }

  .hiddentext {
    transform: translate(0px, -100px);
  }
}

.scene {
  height: 100% !important;
  width: 100% !important;
}

.showContainer {
  opacity: 1;
  visibility: visible;
}
.hiddenContainer {
  opacity: 0;
  visibility: hidden;
}

.gradientText {
  position: relative;
  text-align: center;
  font-weight: 900;
  font-style: normal;
  background: -webkit-linear-gradient(45deg, #3b49a8, #8a5252);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

p {
  position: relative;
  font-size: 60px;
}

.showText {
  opacity: 1;
  visibility: visible;
}

.hiddentext {
  opacity: 0;
  visibility: hidden;
}
.scrollLabel {
  position: absolute;
  width: 100%;
  bottom: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  span {
    font-size: 35px;
    color: rgb(61, 61, 61);
  }
  img {
    height: 30px;
    width: 30px;
  }
  .arrowUp {
    animation: scrollArrowUp 2s linear infinite;
  }

  .arrowDown {
    animation: scrollArrowDown 2s linear infinite;
  }
}

@keyframes scrollArrowUp {
  0% {
    transform: translate(0, 30%) rotate(180deg);
  }
  50% {
    transform: translate(0, 0) rotate(180deg);
  }
  100% {
    transform: translate(0, 30%) rotate(180deg);
  }
}

@keyframes scrollArrowDown {
  0% {
    transform: translate(0, 30%) rotate(0deg);
  }
  50% {
    transform: translate(0, 0) rotate(0deg);
  }
  100% {
    transform: translate(0, 30%) rotate(0deg);
  }
}
/*-------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: linear-gradient (45deg, #0006ff, #a801ff);
  display: flex;
  align-items: center;
  justify-content: center;
}

.loadingContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  z-index: 1000;

  .loadingContaint {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: fit-content;
    .loader {
      position: relative;
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: center;
      .stroke {
        display: block;
        position: relative;
        background: #f1f1f1;
        height: 100%;
        width: 10px;
        border-radius: 50px;
        margin: 0 5px;
        //animation: animate 1.2s linear infinite;
      }
      :nth-child(1) {
        animation-delay: 0s;
        height: 40%;
      }

      :nth-child(2) {
        animation-delay: 0.3s;
        height: 60%;
      }
      :nth-child(3) {
        animation-delay: 0.6s;
        height: 80%;
      }
      :nth-child(4) {
        animation-delay: 0.9s;
      }
      :nth-child(5) {
        animation-delay: 0.6s;
        height: 80%;
      }
      :nth-child(6) {
        animation-delay: 0.3s;
        height: 60%;
      }
      :nth-child(7) {
        animation-delay: 0s;
        height: 40%;
      }
    }
    p {
      color: white;
      font-size: 50px;
      margin: auto;
    }
  }
}
/*
@keyframes animate {
  50% {
    height: 20%;
  }
  100% {
    height: 100%;
  }
}

*/
